---
layout: page
show_nav: false
comments: true
---

<div class="content pb-3">
    <h1 class="title is-size-2">
        Steps in the MagTOCml Project
    </h1>
</div>
<div class="columns">
    <div class="column is-10">
        {% for category in site.data.settings.project.categories %}
            <div class="pb-6">
                <h2 class="subtitle is-size-4 mb-1">
                  This is a Work-In-Process Project
                </h2>
                <p class="mb-2">As originally envisioned, the infrastructure of this project was to be developed around a Twitter-bot workflow. However, for some unclear reason my application for Twitter developer status was denied. Rather than appeal that decision, I have shifted to a workflow based on a freely available TOCspotting app and voluntary contributions to a GitHub TOCdata repository.
                </p>
                <p>The current plan is to provide the Python-based tool to anyone with the skills and interest to download and install the tool script. The next step will be the revision of the tool to use the Beeware UI/UX framework rather than its current dependency on wxPython wxWidgets framework. This rewrite will allow the production of multi-platform enduser-installable apps that will broaden the community that can help with the creation of the MagTOC dataset.
                </p>
                <p>For now, please find the tool, dataset, and this site's repositories on the <a href="https://github.com/MagTOCml">MagTOCml organization page at GitHub</a>.
                </p>
                <br/>

                <h2 class="subtitle is-size-4 mb-1">
                    {{ category.title | upcase }}
                </h2>

                {% for step in site.project %}
                    {% if forloop.first == true %}
                        <div class="is-divider my-3"></div>
                    {% endif %}
                    {% if step.category == category.name %}
                        {% if step.external_link != nil %}
                            <a class="is-size-5" href="{{step.external_link}}">{{step.title}}</a>
                        {% else %}
                            <a class="is-size-5" href="{{step.url}}">{{step.title}}</a>
                        {% endif %}
                        <div class="is-divider my-3"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
