<style>
.mySlides {display:none;}
</style>

<div style="max-width:100px; height:120px">
  <img class="mySlides" src="/assets/images/toc_samples/05-commodore-magazine_tocleaf_0004.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/64er_1991_11_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/AcornUser162-Dec95_tocleaf_0004.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/Amiga_Joker_1993-04_Joker_Verlag_DE_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/amiga-games-1995-11_tocleaf_0005.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/AmigaComputingIssue083Feb95_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/AmigaJoker199604_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/AmigaJoker199606_and_07_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/commodore-user-magazine-35_tocleaf_0002.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/cvg-magazine-122_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/eu_Macworld-1986-08_OCR_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/family-computing-32_tocleaf_0002.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/Linux-Journal-2006-03_tocleaf_0004.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/PC-Player-German-Magazine-1994-08_tocleaf_0005.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/Planet_Game_Boy_Autumn_2000_tocleaf_0001.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/softalkv3n04dec1982_tocleaf_0003.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/washingtonapplepijournal1983v5no5may83_tocleaf_0000.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/your-sinclair-79_tocleaf_0001.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/your-sinclair-93_tocleaf_0001.jpg" style="width:100%">
  <img class="mySlides" src="/assets/images/toc_samples/ZX-computing-1983-10_tocleaf_0003.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
