<section class="hero">
    <div class="hero-body pb-0 {% if include.sep != true %}pt-0{%endif %}">
        <div class="container">
            {% if include.sep != true %}
                <div class="is-divider"></div>
            {% endif %}
            <div class="columns is-centered mb-5">
                <div class="column has-text-centered">
                    <h1 class="title is-size-2">
                        {{ include.title | markdownify }}
                    </h1>
                    <h2 class="subtitle is-size-4">
                        {{ include.description | markdownify }}
                    </h2>
                </div>
            </div>
            <div class="columns is-centered mb-5">
              <iframe src="//www.slideshare.net/slideshow/embed_code/key/L85MREyOCheHyc" width="800" height="570" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-top:20px; max-width: 100%;" allowfullscreen> </iframe>
            </div>
            <p>Click the previous/next buttons, or swipe with the slide with cursor or finger to change slides.
            </p>
        </div>
    </div>
</section>
